.circle{
	width: 200px;
	height: 200px;
	border: 1px solid #1692d3;
	border-radius: 50%;
	transition: .3s;
}
@media (max-width: 768px){
	.circle{
		width: 150px;
		height: 150px;
	}
	.circle a {
	    margin-top: 15px!important;
	}
}
.circle:hover{
	transition: .3s;
	background: #0b0806;
}
.circle a{
	display: block;
	margin-top: 45px;
	text-decoration: none;
}
.circle a p{
	font-size: 14px;
	line-height: 24px;
	color: #a1a1a1;
	margin: 0;
}
.welcome{
	padding: 58px 0 50px;
}
.top60{
	margin-top: 60px;
}
.top20{
	margin-top: 20px;
}
.about{
	padding: 50px 0;
	background: #eaeaea;
}
span{
	color: #9ccbe5
}

@media (min-width: 1200px){
	.movie::after{
	height:325.47px ;

	}
}
@media (min-width: 991px) and (max-width:1200px) {
	.movie::after{
	height:274.23px ;
	}
}
@media (min-width: 768px) and (max-width:990px) {
	.movie::after{
	height:207.94px ;
	}
}
@media(max-width:768px) {
	.movie::after{
	width: 584px;
	}
}
.control{
	position: absolute;
	top: 40%;
	left:40%;
	z-index: 12
}
.about_text{
	text-indent: 2em;
	font-size: 14px;
	line-height: 30px;
}
.more{
	display: block;
	margin-top: 60px;
}
.news{
	background: url(../images/bj1.png) no-repeat;
	background-size: cover;
	padding: 108px 0 68px;
}
.news h3{
	color: #f6f6f6;
}
.btm50 img{
	transition: .5s;
	transform: scale(1);
}
.btm50:hover img{
	transition: .5s;
	transform: scale(1.05);
}
.e-title{
	color: #f6f6f6;
	margin-bottom: 40px;
}
.title{
	margin-top: -2%;
	position: absolute;
	width: 94%;
	color: #fff;
}
.title1{
	display: block;
	width: 70%;
	margin: auto;
	background: rgba(0,0,0,.6);
    color: #fff;
    color: #fff;
}
.much{
	width: 134px;
	height: 34px;
	border: 1px solid #ccc;
	margin: auto;
}
.much a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 34px;
	color: #ccc;
	text-align: center;
	transition: 0.3s;
}
.much:hover a{
	transition: 0.3s;
	background-color: #A4D3EE;
	color: #fff;
	text-decoration: none;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
}
.btm50{
	margin-bottom: 50px;
}
.certificate{
	padding: 108px 0 68px;
	background-color: #f6f6f6;
}
.teach{
	background: url(../images/bj2.png) no-repeat;
	background-size: cover;
	padding: 108px 0 68px;
}
.teach h3{
	color: #f6f6f6;
}
.btm{
	padding: 60px 35px 60px;
	background: #8a8887;
	transition: .3s;
}
.btm a{
	text-decoration: none;
}
.btm:hover{
	transition: .3s;
	background: #0b0808;
}
.btm:hover p{
	color: #fff;
}
.link{
	padding: 108px 0 68px;
}
.E-title{
	margin-bottom: 40px;
}
.lunbo{
	padding: 0!important;
}